.jumbotron {
        background-color: rgb(17, 113, 186, 0.7);
        border-radius: 20px;
        width: 100%;
        margin: 20px auto;
      }

      .input-container {
        margin-bottom: 20px;
      }

      html {
        background-image: linear-gradient(
          135deg,
          rgb(27, 255, 255, 0.5),
          rgb(17, 113, 186, 0.3),
          pink,
          rgb(128, 0, 128, 0.2)
        );
        background-color: rgb(17, 113, 186, 0.3);
      }

      body {
        max-width: 1400px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px #000000;
      }
      #img1{
        border-radius: 8px;
        max-width: 600px;
        border: solid;
        box-shadow: #000000;
      }

      hr{
        height:5px;color: rgb(36, 60, 84);
      }
      
       #img2{
        size: 300px;
        border-radius: 10px;
        margin-left: 140px;
        border: solid;
        box-shadow: #000000;
      }

